<%- include('../../partials/header', {title: "Add Gallery" }) %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('../../partials/breadcream', {title:"Add Gallery", parent:"Gallery"}) %>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <% if(locals.message) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>
                    <%= message %>
                  </strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% } %>

                  <form action="/add-gallery" method="post" enctype="multipart/form-data">
                    <!-- <input type="text"> -->
                    <div class="card-body">
                      <div class="form-group">
                        <label for="nameLabel">Name</label>
                        <input type="text" class="form-control" id="nameLabel" name="name" placeholder="Enter Name" />
                      </div>

                      <div class="form-group">
                        <label for="exampleInputFile">Image Upload</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile" name="img" multiple />
                            <label class="custom-file-label" for="exampleInputFile">Choose Image</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="categoryLabel">Category</label>
                        <input type="text" class="form-control" id="categoryLabel" name="category"
                          placeholder="Enter Category" />
                      </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
            </div>

            <div class="col-md-4"></div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  </div>
  </div>

  <%- include('../../partials/footer') %>
    <script>
      $(function () {
        // Summernote
        $("#summernote").summernote({
          height: 250,
        });
      });

      $(function () {
        bsCustomFileInput.init();
      });
    </script>